doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title My fav show
    link(rel='stylesheet', href='/css/app.css')
body
  h1 My fav Show
  button#one Big friendly Button
  button#two Big friendly Button 2
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')

